{:deps {org.babashka/http-server {:mvn/version "0.1.14"}}
 :tasks
 {serve {:doc "Serve static assets"
         :requires ([babashka.http-server :as server])
         :task (server/exec {:port 3000 :dir "./public"})}}}
